<address>
    <div>{{ contact.first_name }} {{ contact.last_name }}</div>
    <div><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
    <div>{{ contact.address }}</div>
    <div>{{ contact.city }}, {{ contact.state_code }} {{ contact.postal_code }}</div>
    <div><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></div>
</address>
